[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = ">2.24"
beautifulsoup4 = ">4.9"
pipenv = "<=2026.0.3" # Renovate finds the latest version but fails to download it

[requires]
python_version = "3.8"
